# for ~/.gitignore
.DS_Store
a.out

# for ~/dotfiles/.emacs.d
.emacs.d/vendor/
.emacs.d/elpa/
.emacs.d/elisp/
.emacs.d/auto-save-list/
.emacs.d/url/
.emacs.d/bookmarks
.emacs.d/history
.emacs.d/tramp
.emacs.d/recentf*
.emacs.d/.recentf*
.emacs.d/flycheck_*
.emacs.d/*.elc
.emacs.d/projectile-*
.emacs.d/junk_file/
.emacs.d/undohist/
.emacs.d/yasnippets/
.emacs.d/.session
.emacs.d/eshell/
.emacs.d/.mc-lists.el
.emacs.d/ac-comphist.dat
.emacs.d/magithub/*
.emacs.d/straight/
.emacs.d/transient/
